<template>
    <div class="main">
        <div v-if="isNewUser">
            <p>
                You are a newcomer, so
                <router-link :to="{ name: 'SignUp' }">Sign Up</router-link> to
                enjoy coffe with everyone!
            </p>
        </div>
        <div v-else>
            <h1>{{ msg }}</h1>
            <div class="submit-form">
                <input v-model="name" placeholder="Your name" @input="changeInput"/>
                <button @click="spinspin">Spin spin...</button>
            </div>
            <p>
                Or
                <router-link :to="{ name: 'SignUp' }">Sign Up</router-link> if
                you are a newcomer
            </p>
            <div v-if="this.$store.state.isSubmmited" class="result">
                <h3 class="result-title">Coffee Time</h3>
                <p v-if="this.$store.state.partner.length > 0" class="content">
                    Get coffee with {{ this.$store.state.partner }}, here’s how
                    many times you’ve had coffee with them:
                    {{ this.$store.state.coffeTimed }}
                </p>
                <p
                    v-else-if="
                        this.$store.state.partner.length === 0 &&
                            this.$store.state.alone === true
                    "
                    class="content"
                >
                    Awesome! You are lonely here. Get coffee yourself
                </p>
                <p v-else class="content">
                    You've already caffeinated with everyone!
                </p>
            </div>
        </div>
    </div>
</template>

<script>
import { usersCollection } from '../firebaseConfig';
import { pairUser } from '../services/userService';

export default {
  data() {
    return {
      isNewUser: false,
      msg: 'Please input your name ^^',
    };
  },
  methods: {
    changeInput(event) {
      this.$store.commit('setName', event.target.value);
    },
    async spinspin() {
      if (this.name) {
        const findUser = await usersCollection.doc(this.name).get();
        if (!findUser.exists) {
          this.isNewUser = true;
          return;
        }
        const user = await pairUser(this.name);
        this.$store.commit('setUser', user);
        this.$router.push('/');
      }
    },
  },
  computed: {
    name: {
      set(name) {
        this.$store.commit('setName', name);
      },
      get() {
        return this.$store.state.name;
      },
    },
  },
};
</script>

<style scoped>
h1,
h2 {
    font-weight: bold;
}
.submit-form {
    padding-top: 50px;
}
.result-title {
    text-align: start;
    background: silver;
    padding: 0.75em;
    margin: 0px;
}
.content {
    padding: 0.75em;
    margin: 0px;
    text-align: start;
}
.result {
    width: 380px;
    border: 1px solid #000000;
    margin: auto;
}
button {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    box-shadow: none;
    border: 1px solid #ddd;
    color: #333;
    background-color: #fff;
}
</style>
