<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    <input v-model="name" placeholder="Your name">
    <button @click="signup">Sign Up And Spin...</button>
  </div>
</template>

<script>
const { usersCollection, infoCollection, db } = require('../firebaseConfig.js'); // eslint-disable-line
const { createOrUpdateUser, pairUser } = require('../services/userService.js');

export default {
  data() {
    return {
      name: '',
      msg: 'Please input your name ^^',
    };
  },
  methods: {
    async signup() {
      const userInfoRef = infoCollection.doc('userInfo');

      db.runTransaction(t => t.get(userInfoRef)
        .then(async (doc) => {
          // Add one person to the city population
          const currentTotalUser = doc.data().totalUser;
          const name = this.name;
          const findUser = await usersCollection.doc(this.name).get();
          if (findUser.exists === false) {
            const newTotal = currentTotalUser + 1;
            t.update(userInfoRef, { totalUser: newTotal });
            await createOrUpdateUser({
              name,
              id: newTotal,
              paired: [],
            });
          } else {
            t.update(userInfoRef, { totalUser: currentTotalUser });
          }
          const paiUser = await pairUser(name);
          this.$store.commit('setUser', paiUser);
          this.$router.push('/');
        }));
    },
  },
};
</script>

<style scoped>
h1, h2 {
  font-weight: normal;
}
button {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    box-shadow: none;
    border: 1px solid #ddd;
    color: #333;
    background-color:#fff;
}
</style>
